@import url('./assets/fonts/stylesheet.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

:root {
    --colorPrimary: #0D263B;
    --colorText: #696969;
    --iconBlue:#0061DF;
    
}